<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FastTracker"
        tools:targetApi="31">
        <!-- Loadingscreen as launcher -->
        <activity
            android:name="com.example.Billbot.Loadingscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name="com.example.FastTracker.CurrencyFormatter"-->
<!--            android:exported="false" />-->
<!--        &lt;!&ndash; LoginActivity (no longer launcher) &ndash;&gt;-->
        <activity
            android:name="com.example.Billbot.login"
            android:exported="false" />
        <!-- RegisterActivity -->
        <activity
            android:name="com.example.Billbot.RegisterActivity"
            android:exported="false" />
        <!-- MainActivity -->
        <activity
            android:name="com.example.Billbot.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>